<?xml version="1.0" encoding="UTF-8"?>
<Context>
   <Resource name="jdbc/OracleDB"
      auth="Container"
      type="javax.sql.DataSource"
      username="sample"
      password="1234"
      driverClassName = "oracle.jdbc.OracleDriver" 	 
      factory="org.apache.commons.dbcp.BasicDataSourceFactory"
	  url="jdbc:oracle:thin:@localhost:1521/xe"
      maxActive="80"
      maxIdle = "100"/>
</Context>

<!-- 


Context.xml + jar 3개 화일 + dbcp.jsp 상단에 위치한 코드는 항상 같이 다니니 외울 필요는 없고 알아두면됨. 

-->
<!-- <?xml version="1.0" encoding="UTF-8"?>
<Context>
   <Resource 
      auth="Container"
      driverClassName="oracle.jdbc.driver.OracleDriver"
      url="jdbc:oracle:thin:@localhost:1521/xe"
      username="scott" password="1234"
      name="jdbc_oracle11g"
      type="javax.sql.DataSource"
      maxTotal="10"
      maxWaitMillis="3000"
   />
</Context> -->